// General Components

.card {
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}
// Book Components
.book-list {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  min-height: 80vh;
  margin-bottom: 32px;
  margin-top: 32px;
}

.book-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 680px;
  height: auto;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }
  &__img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }
  &__title {
    color: #4d2c3d;
    font-size: 24px;
    margin: 10px 0 5px;
    font-weight: 700;
  }
  &__author {
    color: #666;
    font-size: 16px;
    margin: 5px 0;
    font-weight: 500;
  }
  &__description {
    color: #999;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 12px;
  }
  &__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .button--success {
      width: 100%;
    }
  }
  &__button {
    display: flex;
    gap: 12px;
  }
}
.footer-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
}
.book-details {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// Pagination Components
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  span {
    margin: 0 10px;
  }
}

// form
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  .form-list {
    display: flex;
    gap: 12px;
    width: 100%;
  }
}

// Book Details

.book-detail{
  max-width: 680px;
  margin: 24px auto;
}
.breadcrumb{
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
  font-size: 18px;
  h5{
    font-weight: 700;
    cursor: pointer;
  }
}